# Firebase Web App Credentials (Client-side)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBy4tj2EhG8TcFcFKhVU_lUCHoCjLFv9tA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sudharsetu-5d201.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sudharsetu-5d201
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sudharsetu-5d201.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=820328465907
NEXT_PUBLIC_FIREBASE_APP_ID=1:820328465907:web:56dcaddb1162abba4a7e86

# Firebase Admin Credentials (Server-side)
FIREBASE_PROJECT_ID=sudharsetu-5d201
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@sudharsetu-5d201.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Default Admin User Credentials
DEFAULT_ADMIN_EMAIL=suryansh@gmail.com
DEFAULT_ADMIN_PASSWORD=12345678

# Google Cloud & Vertex AI Credentials
GCP_PROJECT_ID=quesper-2e352
GCP_LOCATION=us-central1
